form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form p {
  color: #fff;
  font-size: 20px;
}
form input {
  transition: 0.2s ease-in-out;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
form input:hover {
  transform: scale(1.1);
}
form select {
  width: 260px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}